BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
BreakBeforeBraces: Attach